<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{ bootstrap.load_css() }}
    {{ bootstrap.load_js() }}
    <link rel="icon" href="{{ url_for('static', filename="favicon.png") }}" type="image/x-icon">
    {% block navbar %}
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Education Project</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              </ul>
              <div class="d-flex">
                {% if not auth %}
                    <a class="btn btn-outline-success" href="{{ url_for('testForm') }}" role="button">Авторизоваться</a>
                {% else %}
                    <a class="btn btn-outline-danger" href="{{ url_for('logout') }}"role="button">Выйти</a>
                {% endif %}
              </div>
            </div>
          </div>
      </nav>
    {% endblock %}

</head>
<body>
<div style="display:flex; justify-content: center">
    <h1>
        App with template
    </h1>
    <div class="alert alert-primary" role="alert">
      A simple primary alert—check it out!
    </div>
</div>
<hr>
{% block content %}
{% endblock %}
</body>
</html>