<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Template</title>
    {% from 'bootstrap5/form.html' import render_form %}
    {{ bootstrap.load_css() }}
    {{ bootstrap.load_js() }}
</head>
<body>
    <h1>What we input:{% if text %}{{ text }}{% else %}Nothing{% endif %}</h1>
    <form class="col-lg-3" method="post">
        <!--
        {{ form.hidden_tag() }}
        {{ form.text.label }} {{ form.text(id='test_id') }}
        {{ form.submit() }}
        -->
        {{ render_form(form) }}
    </form>
</body>
</html>